<!DOCTYPE html>
<html>
   <body>
      <div style="padding-left: 16px;">
         <h1><%=Product.get_current_product.productname%></h1>
         <h2>$<%=Product.get_current_product.price%></h2>
         <h2><%=Product.get_current_product.quantity%> units available</h2>
      <h2>Seller:</h2>
      <%=Product.get_seller(@sellerid)%>
      <br></br>
      <% if logged_in? == true %>
        <%if current_user.id == @sellerid.to_i%>
            <form action="/products/<%=Product.get_current_product.id%>/edit/sell" method="GET">
            <input type="hidden" name="sellerid" value="<%=@sellerid.to_i%>"> <input class="btn btn-primary" type="submit" value="Edit">
            </form>
        <%else%>
            <form action="/products/<%=Product.get_current_product.id%>/edit/buy" method="GET">
                Quantity: <input type="number" placeholder="0" name="quantity"> <input type="hidden" name="productid" value="<%=Product.get_current_product.id%>"> <input class="btn btn-primary" type="submit" value="Buy">
            </form>
        <%end%>
      <%else%>
      <p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to buy!</p>
      <%end%>
      </div>
   </body>
</html>